.container {
    display: grid;
    grid-template-columns: [first-column] 1fr [sec];
    grid-template-rows: repeat(3, 150px);
    /* grid-column-gap: 1em;
    grid-row-gap: 1em; */
    grid-gap: 1rem;
  }

  .item{
    background-color:mediumspringgreen;
    border-style: groove;
    text-align: center;
    padding: 40px;
  }

  .item1{
    background-color:mediumspringgreen;
    border-style: groove;
    text-align: center;
    padding: 40px;
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;

  }