.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:  70px 200px 200px 70px;
    /* grid-column-gap: 1em;
    grid-row-gap: 1em; */
    grid-gap: 0.5em;
    grid-template-areas: 
    "header header header"
    "menu content content"
    "menu content content"
    "footer footer footer";
  }

  .item-header{
    background-color:mediumspringgreen;
    border-style: groove;
    text-align: center;
    grid-area: header;
  }

  .item-menu{
    background-color:violet;
    border-style: groove;
    text-align: center;
    grid-area: menu;
  }

  .item-body{
    background-color:grey;
    border-style: groove;
    text-align: center;
    grid-area: content;
  }

  .item-footer{
    background-color:mediumspringgreen;
    border-style: groove;
    text-align: center;
    grid-area: footer;
  }