.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 150px);
    grid-column-gap: 1em;
    grid-row-gap: 1em;
  }

  .item{
    background-color:mediumspringgreen;
    border-style: groove;
    text-align: center;

  }
