ul {
    display: grid;
    grid: auto / auto 1fr;
}
li {
    grid-column: span 2;
    display: grid;
    grid-template-columns: subgrid;
    border: solid;
}
label {
    grid-column: 1;
}
input {
    grid-column: 2;
}